body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow: scroll;
  box-sizing: border-box;
}

button {
  margin: 0 15px 25px 15px;
  width: 100px;
}

button,
.char {
  background-color: #717959;
  border: 2px white solid;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  color: white;
  box-shadow: 0 0 8px 0 #283529;
}

.char {
  width: 140px;
  margin: 25px 15px;
  height: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type='checkbox'] {
  accent-color: #717959;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

input {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 8px 0 #283529;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

#form,
#root {
  width: 90%;
  max-width: 620px;
  background-color: #e1eac9;
  margin: 40px 0;
}

#root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px 15px;
  align-items: center;
  font-size: 14px;
}

button:hover,
.char:hover {
  box-shadow: none;
}
